In [1]:
import pandas as pd
films=pd.read_csv(r"C:\Users\archa\OneDrive\Desktop\Downloads\FilmCB.csv",index_col=1)
films

                        ID  Box Office  For Children  Oscar
Film
Cronos                   1           2             1      1
Life of Brain            2           3             3      1
The Never-ending Story   3           2             5      1
Pinocchio                4           3             5      5
Titanic                  5           5             2      5

In [2]:
users=pd.read_csv(r"C:\Users\archa\OneDrive\Desktop\Downloads\UserCB.csv",index_col=1)
users

        ID  Box Office  For Children  Oscar
Film
Graham   a           4             2      5
Terry G  b           1             2      2
Eric     c           5             4      4
John     d           4             3      1
Michael  e           3             2      5
Terry J  f           1             1      4

In [3]:
print(users.iloc[0][1:].values)

[4 2 5]

In [4]:
films.index[2]

'The Never-ending Story'

In [5]:
import numpy as np

In [13]:
def content_recom(user,user_df,film_df):
    u=user_df.iloc[user][1:].values
    print('user experience',u)
    u_norm=np.linalg.norm(u) 
    film_rec=[]
    for row in range(film_df.shape[0]):
        f_name=film_df.index[row]
        f=film_df.iloc[row][1:].values
        f_norm=np.linalg.norm(f)
        s=np.dot(u,f)/(u_norm*f_norm)
        film_rec.append((f_name,s))
    print('recomentation',film_rec)
    file_rec=sorted(film_rec,key=lambda x:x[1],reverse=True)
    return file_rec

In [14]:
content_recom(0,users,films)

user experience [4 2 5]
recomentation [('Cronos', 0.9128709291752769), ('Life of Brain', 0.7865834032652848), ('The Never-ending Story', 0.6259807120445899), ('Pinocchio', 0.9121485985920118), ('Titanic', 0.9940150117686348)]

[('Titanic', 0.9940150117686348),
 ('Cronos', 0.9128709291752769),
 ('Pinocchio', 0.9121485985920118),
 ('Life of Brain', 0.7865834032652848),
 ('The Never-ending Story', 0.6259807120445899)]